.galleryElementWrapper {
  display: grid;
  width: 100%;
  height: 900px;
  margin-top: 3%;
  font-size: 30px;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  gap: 2%;
}

.galleryElementWrapper.tablet {
  display: grid;
  width: 100%;
  height: 600px;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 20px;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.galleryElementWrapper.mobile {
  display: grid;
  width: 100%;
  height: 420px;
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 15px;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.galleryElementTitleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;

  font-family: Merriweather-Regular;
  color: #3a4a5c;
  font-size: 26px;

  min-width: 0%;
  min-height: 0%;
  max-width: 100%;
  max-height: 100%;
}

.galleryElementWrapper.tablet .galleryElementTitleWrapper {
  font-size: 22px;
}

.galleryElementWrapper.mobile .galleryElementTitleWrapper {
  font-size: 18px;
}

.galleryElementTitle {
  position: relative;
  top: -20%;
  padding: 0%;
  margin: 0%;
  width: 100%;
  font-weight: bold;
}

.galleryElementTitleLine {
  background: linear-gradient(
    90deg,
    rgba(27, 163, 227, 0.6) 0%,
    rgba(77, 196, 245, 0.4) 50%,
    rgba(77, 196, 245, 0) 100%
  );

  width: 100%;
  height: 2px;
}

/* Gallery item clickable styles */
[class^="gallery5ItemImage_"],
[class^="gallery6ItemImage_"],
[class^="gallery7ItemImage_"] {
  cursor: pointer;
}

/* 5 picture gallery items */

.gallery5ItemImage_1 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery5ItemImage_2 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 6;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery5ItemImage_3 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 5;
  grid-column-end: 13;
}

.gallery5ItemImage_4 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 5;
  grid-column-end: 10;
}

.gallery5ItemImage_5 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 10;
  grid-column-end: 13;
}

/* 6 picture gallery items */

.gallery6ItemImage_1 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery6ItemImage_2 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 6;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery6ItemImage_3 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 10;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery6ItemImage_4 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 5;
  grid-column-end: 13;
}

.gallery6ItemImage_5 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 5;
  grid-column-end: 10;
}

.gallery6ItemImage_6 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 10;
  grid-column-end: 13;
}

/* 7 picture gallery items */

.gallery7ItemImage_1 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery7ItemImage_2 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 6;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery7ItemImage_3 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 10;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery7ItemImage_4 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 5;
  grid-column-end: 8;
}

.gallery7ItemImage_5 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 8;
  grid-column-end: 13;
}

.gallery7ItemImage_6 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 5;
  grid-column-end: 10;
}

.gallery7ItemImage_7 {
  min-width: 0%;
  min-height: 0%;

  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 10;
  grid-column-end: 13;
}

/* ----------- */

.galleryItemInnerImage {
  min-width: 0%;
  min-height: 0%;

  width: 100%;
  height: 100%;

  border-radius: 10px;
  object-fit: cover;
}

.blueBackgroundSurroundings {
  display: none;
}

.blueBackgroundBedrooms {
  display: none;
}
