.highlightedContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
}

.highlightItemContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  margin-bottom: 30px;
}

.highlightItemContainer.tablet {
  flex-direction: column;
  margin-bottom: 0px;
}

.highlightItemContainer.mobile {
  flex-direction: column;
  margin-bottom: 0px;
}

.highlightItemImage {
  width: 80%;
  border-radius: 10px;
}

.highlightItemImage.tablet,
.highlightItemImage.mobile {
  width: 100%;
}

.highlightItemImage.comfortable {
  order: 3;
  background: url("../images/comfortable.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  margin-left: 30px;
}

.highlightItemImage.comfortable.tablet {
  height: 400px;
  margin-left: 0px;
}

.highlightItemImage.comfortable.mobile {
  height: 300px;
  margin-left: 0px;
}

.highlightItemImage.midnightSwim {
  order: 1;
  background: url("../images/midnightSwim.jpg");
  background-size: cover;
  background-position: center center;
  height: 600px;
  margin-right: 30px;
}

.highlightItemImage.midnightSwim.tablet {
  order: 3;
  height: 500px;
  margin-left: 0px;
}

.highlightItemImage.midnightSwim.mobile {
  order: 3;
  height: 300px;
  margin-left: 0px;
}

.highlightItemImage.fireplace {
  order: 3;
  background: url("../images/fireplace.jpg");
  background-size: cover;
  background-position: 80% 100%;
  height: 700px;
  margin-left: 30px;
}

.highlightItemImage.fireplace.tablet {
  background-position: center center;
  height: 550px;
  margin-left: 0px;
}

.highlightItemImage.fireplace.mobile {
  background-position: center center;
  height: 300px;
  margin-left: 0px;
}

.highlightItemDescriptionContainer {
  display: flex;
  flex-direction: column;
  order: 2;
}

.highlightItemDescriptionTitle {
  font-family: Merriweather-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 106.2%;
  color: #595450;
  margin-top: 80px;
  margin-bottom: 35px;
  width: 300px;

  /* or 53px */
}
.highlightItemDescriptionTitle.tablet {
  margin-top: 20px;
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 20px;
  width: 100%;
}
.highlightItemDescriptionTitle.mobile {
  margin-top: 20px;
  font-size: 25px;
  line-height: 27px;
  margin-bottom: 20px;
  width: 100%;
}

.highlightItemDescriptionText {
  font-family: MerriweatherSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.03em;
  width: 500px;
}

.highlightItemDescriptionText.tablet {
  width: 100%;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 30px;
}

.highlightItemDescriptionText.mobile {
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 30px;
}

.galleryButton {
  background: rgba(247, 242, 230, 0.75);
  border-radius: 10px;
  width: max-content;
  height: max-content;
  margin: auto;
  margin-top: 98px;
  font-family: MerriweatherSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #736b67;
  cursor: pointer;
  padding: 17px 67px 17px 67px;
  text-decoration: none;
}

.galleryButton.mobile {
  margin-top: 50px;
  font-size: 15px;
  line-height: 20px;
}

.galleryButton.tablet {
  font-size: 15px;
  line-height: 20px;
}
