body,
html {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fef3e8;
}

@font-face {
  font-family: "MerriweatherSans-Regular";

  src: local("MerriweatherSans-Regular"),
    url(../fonts/MerriweatherSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Merriweather-Regular";

  src: local("Merriweather-Regular"),
    url(../fonts/Merriweather-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MerriweatherSans-Bold";

  src: local("MerriweatherSans-bold"),
    url(../fonts/MerriweatherSans-Bold.ttf) format("truetype");
}

.landingPageContainer {
  position: relative;
  margin: auto;
  z-index: 0;
  width: 100%;
  height: max-content;
  overflow: hidden;
}

.landingPageContainer.mobile {
  width: 100vw;
}

.landingPageContentContainer {
  position: relative;
  height: max-content;
  width: calc(100% - 280px);
  z-index: 2;
  padding-top: 80px;
  max-width: 1280px;
  margin: auto;
}

.landingPageContentContainer.mobile {
  padding: 0px 20px 0px 20px;
  width: calc(100% - 40px);
}

.landingPageContentContainer.tablet {
  width: calc(100% - 140px);
  padding: 0px 70px 20px 70px;
}

.PageContentContainer {
  position: relative;
  height: max-content;
  width: calc(100% - 280px);
  z-index: 2;
  max-width: 1280px;
  margin: auto;
  padding: 0px 140px 0px 140px;
}

.PageContentContainer.mobile {
  padding: 0px 20px 0px 20px;
  width: calc(100% - 40px);
}

.PageContentContainer.tablet {
  width: calc(100% - 140px);
  padding: 0px 70px 20px 70px;
}

.blueBackground {
  display: none;
}
