.attractionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  margin-top: 200px;
}

.attractionsContainer.mobile {
  margin-top: 100px;
}
.attractionsContainer.tablet {
  margin-top: 100px;
}

.attractionsTitle {
  font-family: Merriweather-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 53px;
  text-align: center;
  color: #595450;
}

.attractionsTitle.tablet {
  font-size: 30px;
  line-height: 33px;
}

.attractionsTitle.mobile {
  font-size: 20px;
  line-height: 23px;
}

.attractionImage {
  height: 500px;
  width: 500px;
}
