.navigationContainer {
  position: relative;
  margin-right: 60px;
  display: flex;

  width: max-content;
  height: max-content;
}

.navigationContainer.tablet {
  margin-right: 60px;
}

.navigationContainer.mobile {
  margin-right: 30px;
}

.navigationItem {
  width: max-content;
  height: max-content;
  font-family: MerriweatherSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-right: 43px;
  text-decoration: none;
}

.navigationItem:hover {
  text-decoration: underline;
}

.navigationItem.active {
  background: rgba(45, 170, 224, 0.1);
  border: 1px solid white;
  margin-top: -3px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px 11px 4px 11px;
}

.mobileMenu {
  background: url("../images/mobileMenu.png");
  width: 35px;
  height: 35px;
  filter: invert(100%) sepia(21%) saturate(19%) hue-rotate(315deg)
    brightness(106%) contrast(106%);
  background-repeat: no-repeat;
  background-size: cover;
}

.mobileMenu.mobile {
  width: 20px;
  height: 20px;
}

.NavBarWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  margin-bottom: 64px;
}

.withOverlay {
  position: absolute;
  height: 300px;
  width: 100vw;
  top: -32px;
  background: linear-gradient(180deg, #0a8fc9 0%, rgba(102, 208, 255, 0) 100%);
}

.NavBarWrapper.tablet {
  padding-top: 33.5px;
}

.NavBarWrapper.mobile {
  padding-top: 26px;
}

.mobileMenuWrapper {
  position: absolute;
  z-index: 1500;
  right: -30px;
  top: -26px;
  border-radius: 0px 0px 0px 26px;
  height: max-content;
  width: 45vw;
  min-height: 200px;
  min-width: 150px;
  background: rgba(102, 208, 255, 0.85);
}

.mobileMenuWrapper.tablet {
  right: -60px;
  top: -33.5px;
}

.mobileMenuClose {
  height: 51px;
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.mobileMenuCloseIcon {
  position: absolute;
  background: url("../images/mobileMenuClose.svg");
  width: 19px;
  height: 17px;
  right: 30px;
  top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobileMenuCloseIcon.tablet {
  right: 60px;
}

.mobileMenuItemsWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.mobileMenuItems {
  width: max-content;
  height: 30px;
  font-family: MerriweatherSans-Regular;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 16px;
  margin-right: 43px;
  text-decoration: none;
}
